.container {
  width: 70%;
  min-height: 100vh;
  margin: 0 auto;
  
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

.post {
  background-color: #fff;  
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.post-content {
  padding: 30px;
}